language: python

services:
  - docker

jobs:
  include:
    - stage: test
      before_install:
        - docker build -t rowma_ros_kinetic_test -f Dockerfile.kinetic .
      script: docker run --rm -it rowma_ros_kinetic_test
    - # stage name not required, will continue to use `test`
      before_install:
        - docker build -t rowma_ros_melodic_test -f Dockerfile.melodic .
      script: docker run --rm -it rowma_ros_melodic_test
