bson==0.5.8
fluent-logger==0.9.6
future==0.17.1
msgpack==0.6.2
mock==3.0.3
pathtools==0.1.2
path.py==11.5.2
python-dateutil==2.8.0
python-engineio==3.9.3
python-socketio==4.4.0
pymongo==3.9.0
requests==2.22.0
socketIO-client==0.7.2
socketIO-client-nexus==0.7.6
websocket-client==0.56.0
websocket-server==0.4
pillow==8.1.1
rospkg==1.2.8
