absl-py==0.7.1
access-points==0.4.66
actionlib==1.11.13
angles==1.9.11
argh==0.26.2
astor==0.7.1
asyncio==3.4.3
backports.weakref==1.0.post1
base-local-planner==1.14.4
bondpy==1.8.3
bson==0.5.8
camera-calibration==1.12.23
camera-calibration-parsers==1.11.13
catkin==0.7.14
catkin-pkg==0.4.12
certifi==2019.9.11
chardet==3.0.4
click==6.2
cv-bridge==1.12.8
defusedxml==0.6.0
diagnostic-analysis==1.9.3
diagnostic-common-diagnostics==1.9.3
diagnostic-updater==1.9.3
Django==1.11.24
docutils==0.14
dynamic-reconfigure==1.5.50
empy==3.3.4
enum34==1.1.6
funcsigs==1.0.2
future==0.17.1
futures==3.2.0
gast==0.2.2
gazebo-plugins==2.5.18
gazebo-ros==2.5.18
gencpp==0.6.0
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.11
gennodejs==2.0.1
genpy==0.6.7
Geohash==1.0
get==2019.4.13
gevent==1.4.0
greenlet==0.4.15
grequests==0.4.0
grpcio==1.20.1
h5py==2.9.0
idna==2.8
image==1.5.27
image-cb-detector==0.10.14
image-geometry==1.12.8
image-overlay-scale-and-compass==0.2.1
image-recognition-rqt==0.0.4
image-recognition-util==0.0.4
interactive-markers==1.11.4
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
laser-geometry==1.6.4
Markdown==3.1
message-filters==1.12.14
mock==3.0.3
mutagen==1.42.0
netifaces==0.10.6
numpy==1.16.3
openface-ros==0.0.4
pandas==0.24.2
pathtools==0.1.2
Pillow==6.1.0
pluginlib==1.11.3
post==2019.4.13
protobuf==3.7.1
public==2019.4.13
pygame==1.9.6
pymongo==3.9.0
pyparsing==2.4.0
python-dateutil==2.8.0
python-engineio==3.9.3
python-qt-binding==0.3.4
python-socketio==4.3.1
pytz==2019.2
PyYAML==5.1
qt-dotgraph==0.3.11
qt-gui==0.3.11
qt-gui-cpp==0.3.11
qt-gui-py-common==0.3.11
query-string==2019.4.13
request==2019.4.13
requests==2.22.0
resource-retriever==1.12.4
rosapi==0.10.1
rosbag==1.12.14
rosboost-cfg==1.14.4
rosbridge-library==0.10.1
rosbridge-server==0.10.1
rosclean==1.14.4
roscreate==1.14.4
rosgraph==1.12.14
roslaunch==1.12.14
roslib==1.14.4
roslint==0.11.0
roslz4==1.12.14
rosmake==1.14.4
rosmaster==1.12.14
rosmsg==1.12.14
rosnode==1.12.14
rosparam==1.12.14
rospkg==1.1.9
rospy==1.12.14
rosservice==1.12.14
rostest==1.12.14
rostopic==1.12.14
rosunit==1.14.4
roswtf==1.12.14
rqt-action==0.4.9
rqt-bag==0.4.12
rqt-bag-plugins==0.4.12
rqt-console==0.4.8
rqt-dep==0.4.9
rqt-graph==0.4.9
rqt-gui==0.5.0
rqt-gui-py==0.5.0
rqt-image-view==0.4.13
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.8
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.0
rqt-py-console==0.4.8
rqt-reconfigure==0.4.10
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.8
rqt-robot-steering==0.5.9
rqt-runtime-monitor==0.5.7
rqt-rviz==0.5.10
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.10
rqt-web==0.4.8
rviz==1.12.16
scikit-learn==0.20.4
scipy==1.2.1
sensor-msgs==1.12.7
six==1.12.0
skybiometry-ros==0.0.4
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.3
socketIO-client==0.7.2
socketIO-client-nexus==0.7.6
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tensorflow-ros==0.0.4
tensorflow-ros-rqt==0.0.4
termcolor==1.1.0
tf==1.11.9
tf-conversions==1.11.9
tf2-geometry-msgs==0.5.20
tf2-kdl==0.5.20
tf2-py==0.5.20
tf2-ros==0.5.20
topic-tools==1.12.14
tqdm==4.35.0
urllib3==1.25.3
watchdog==0.9.0
websocket-client==0.56.0
websocket-server==0.4
Werkzeug==0.15.2
whereami==0.4.85
xacro==1.11.3
