Source: ros-kinetic-rowma-ros
Section: misc
Priority: optional
Maintainer: asmsuechan <suenagaryoutaabc@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-std-msgs
Homepage: https://github.com/rowma/rowma
Standards-Version: 3.9.2

Package: ros-kinetic-rowma-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-std-msgs
Description: The rowma_ros package
